/* Override this file to customise the theme's CSS for your site */
.pagination li {
    display: inline;
    float: left;
}

.pagination li a {
    display: block;
    padding: 10px;
    margin-right: 5px;
}